TOKEN= # Discord authentication token goes here - keep it secret, keep it safe
GUILD= # Discord server ID goes here
OLD_CAL_CHANNEL= # old calendar channel ID goes here
NEW_CAL_CHANNEL= # new calendar channel ID goes here
