TOKEN= # Discord authentication token goes here - keep it secret, keep it safe
OLD_CAL_CHANNEL= # old calendar channel ID goes here
NEW_CAL_CHANNEL= # new calendar channel ID goes here
CRON_TIME='' # crontab formatted time to run, requires quotes
TIMEZONE= # timezone to run in
